services:
  mariadb:
    image: mariadb:10.11
    container_name: mariadb
    command: --max-connections=100
    networks:
      - default
    ports:
      - "3306:3306"
    environment:
      - MARIADB_USER=openfga
      - MARIADB_PASSWORD=password
      - MARIADB_ROOT_PASSWORD=password
      - MARIADB_DATABASE=openfga
    healthcheck:
      test: [ "CMD-SHELL", "mariadb-admin ping -h localhost -u root -ppassword" ]
      interval: 5s
      timeout: 5s
      retries: 5
    volumes:
      - mariadb_data:/var/lib/mysql

  migrate:
    depends_on:
      mariadb:
        condition: service_healthy
    image: openfga/openfga:latest
    container_name: migrate
    environment:
      - OPENFGA_DATASTORE_ENGINE=mariadb
      - OPENFGA_DATASTORE_URI=openfga:password@tcp(mariadb:3306)/openfga?parseTime=true
    command: migrate
    networks:
      - default

  openfga:
    depends_on:
      migrate:
        condition: service_completed_successfully
    image: openfga/openfga:latest
    container_name: openfga
    command: run
    environment:
      - OPENFGA_DATASTORE_ENGINE=mariadb
      - OPENFGA_DATASTORE_URI=openfga:password@tcp(mariadb:3306)/openfga?parseTime=true
      - OPENFGA_DATASTORE_MAX_OPEN_CONNS=100 # matches mariadb max_connections
      - OPENFGA_PLAYGROUND_ENABLED=true
    networks:
      - default
    ports:
      - "8080:8080" #http
      - "8081:8081" #grpc
      - "3000:3000" #playground
      - "2112:2112" #prometheus metrics
    healthcheck:
      test:
        [
          "CMD",
          "/usr/local/bin/grpc_health_probe",
          "-addr=openfga:8081"
        ]
      interval: 5s
      timeout: 30s
      retries: 3

volumes:
  mariadb_data:
